# 9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [1]:
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [3]:
driver = webdriver.Chrome("chromedriver.exe")

In [4]:
url = ("https://www.youtube.com/")
driver.get(url)

In [7]:
comment = driver.find_elements_by_xpath("//span[@id = 'vote-count-middle']")
Comment= []
for i in comment:
    Comment.append(i.text)
Comment

['843',
 '642',
 '16',
 '26',
 '40',
 '14',
 '33',
 '126',
 '135',
 '182',
 '29',
 '404',
 '17',
 '4',
 '13',
 '25',
 '110',
 '85',
 '72',
 '6']

In [8]:
len(Comment)

20

In [9]:
time = driver.find_elements_by_xpath("//a[@class = 'yt-simple-endpoint style-scope yt-formatted-string']")
Time = []
for i in time:
    Time.append(i.text)
Time

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '#26 ON TRENDING FOR MUSIC',
 'Zee Music Company',
 'https://bit.ly/2yPcBkS',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1 week ago',
 '#DiscoBalma',
 'https://bit.ly/2yPcBkS',
 '',
 '6 days ago',
 '#DiscoBalma',
 '',
 '1 day ago',
 '',
 '1 day ago',
 '',
 '6 days ago',
 '',
 '1 day ago',
 '',
 '1 week ago (edited)',
 '',
 '3 days ago (edited)',
 '',
 '1 week ago (edited)',
 '',
 '6 days ago',
 '',
 '1 day ago',
 '',
 '1 week ago',
 '',
 '1 week ago',
 '',
 '13 hours ago',
 '',
 '1 day ago',
 '',
 '3 days ago',
 '',
 '1 week ago',
 '',
 '6 days ago',
 '',
 '4 days ago',
 '',
 '1 day ago',
 '']

In [10]:
len(Time)

125

In [14]:
Time1 = Time[100:125]

In [15]:
len(Time1)

25

In [16]:
youtube = pd.DataFrame({})
youtube["Comment_upvote"] = Comment[:20]
youtube["Time"] = Time1[:20]
youtube

   Comment_upvote                 Time
0             843
1             642  1 week ago (edited)
2              16
3              26           6 days ago
4              40
5              14            1 day ago
6              33
7             126           1 week ago
8             135
9             182           1 week ago
10             29
11            404         13 hours ago
12             17
13              4            1 day ago
14             13
15             25           3 days ago
16            110
17             85           1 week ago
18             72
19              6           6 days ago